body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

h1 {
    color: #ff6699;
}

textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 2px solid #ff6699;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff6699;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #ff3366;
}

.error_message {
    color: red;
    font-weight: bold;
}


